/* //AuthInterface.ccc */
.auth-container {  
    display: flex;  
    justify-content: space-between;  
    height: 100vh;  
    background-color: #F3F3FF; /* Couleur de fond pour l'ensemble de la page */  
    padding: 0;  
    margin: 0;  
}  

.info-container {  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    width: 35%; /* Prend 35% de l'interface */  
    background-color: #C5CAE9; /* Couleur de fond violet clair pour cette section */  
    color: black; /* Couleur du texte */  
    padding: 50px;  
    text-align: center; /* Aligner le texte au centre */  
}  
  
.info-container h2 {  
    font-size: 32px; /* Taille de police plus grande pour le titre */  
    margin-bottom: 20px;  
    color: white; /* Couleur violet clair pour le titre */  
}  

.sign-up-button1 {  
    padding: 12px 30px;  
    background-color: white; /* Bouton blanc */  
    color: #5E57D3;  
    border: none;  
    border-radius: 8px;  
    cursor: pointer;  
    font-size: 16px;  
    text-decoration: none;  
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */  
}  

.sign-up-button1:hover {  
    background-color: #5E57D3; /* Background color on hover */  
    color: white; /* Text color on hover */  
}  

.form-container {  
    width: 65%; /* Prend 65% de l'interface */  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    padding: 50px;  
    background-color: white;  
}  
  
.form-container h2 {  
    font-size: 32px; /* Taille de police plus grande pour le titre */  
    margin-bottom: 20px;  
    color: #C5CAE9; /* Couleur du texte pour le titre du formulaire */  
}  

.form {  
    width: 100%;  
    max-width: 400px; /* Limiter la largeur du formulaire */  
}  
 

.form input {  
    width: 100%;  
    padding: 12px;  
    margin-bottom: 15px;  
    border: 1px solid #ccc;  
    border-radius: 6px;  
    font-size: 16px;  
}  

.sign-in-button1 {  
    padding: 12px 30px;  
    background-color: #C5CAE9; /* Bouton violet */  
    color: white;  
    border: none;  
    border-radius: 8px;  
    cursor: pointer;  
    font-size: 16px;  
    text-decoration: none;  
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */  
}  

.sign-in-button1:hover {  
    background-color: #5E57D3; /* Teinte plus foncée au survol */  
} 
.sign-in-button2:hover {  
    background-color: #5E57D3; /* Teinte plus foncée au survol */  
}   

.forgot-password {  
    display: block;  
    margin-top: 10px;  
    color: #7D78F5;  
    font-size: 14px;  
    text-align: right;  
    cursor: pointer;  
}  

.toggle-link {  
    color: #7D78F5;  
    cursor: pointer;  
    text-decoration: underline;  
}  

.sign-up-button2 {  
    padding: 12px 30px;  
    background-color: #C5CAE9; /* Bouton violet */  
    color: white;  
    border: none;  
    border-radius: 8px;  
    cursor: pointer;  
    font-size: 16px;  
    text-decoration: none;  
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */  
}  

.sign-up-button2:hover {  
    background-color: #5E57D3; /* Darker background on hover */  
    color: white; /* Text color on hover */  
}  

.sign-in-button2 {  
    padding: 12px 30px;  
    background-color: white; /* Bouton blanc */  
    color: #5E57D3;  
    border: none;  
    border-radius: 8px;  
    cursor: pointer;  
    font-size: 16px;  
    text-decoration: none;  
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */  
}  

.sign-in-button2:hover {  
    background-color: #5E57D3; /* Change background color on hover */  
    color: white; /* Change text color on hover */  
}  

/* .input {  
    font-family: "SF Pro";  
    max-width: 190px;  
    padding: 0.875rem;  
    font-size: 1rem;  
    border: 1.5px solid #000;  
    border-radius: 0.5rem;  
    box-shadow: 2.5px 3px 0 #000;  
    outline: none;  
    transition: ease 0.25s;  
}  
  
.input:focus {  
    box-shadow: 5.5px 7px 0 black;  
} */
input {  
    border-radius: 8px; /* Augmenter le rayon pour un look plus doux */  
    line-height: 1.5;  
    padding: 8px 12px; /* Augmenter le rembourrage pour plus d'espace */  
    transition: box-shadow 150ms ease-in, border 150ms ease-in, background-color 150ms ease-in;  
    border: 2px solid #dee1e2; /* Initial border color */  
    color: rgb(1, 13, 7); /* Text color */  
    background: white; /* Background color */  
    display: block;  
    height: 40px; /* Augmenter la hauteur pour un champ de formulaire plus grand */  
}  

input:hover {  
    border-color: #C5CAE9; /* Couleur de la bordure au survol */  
    box-shadow: 2px 2px 5px #C5CAE9; /* Ombre portée au survol */  
}  

input:active {  
    border-color: #C5CAE9; /* Couleur de la bordure quand actif (cliqué) */  
    box-shadow: 2px 2px 8px #C5CAE9; /* Ombre plus prononcée au clic */  
}  

input:focus {  
    border-color: #C5CAE9; /* Couleur de la bordure quand il est en focus */  
    background: white; /* Garder le fond blanc au focus */  
    box-shadow: 2px 2px 5px #C5CAE9; /* Ombre portée au focus */  
    outline: none; /* Supprimer l'outline par défaut */  
}